:root {
  --brown: #5c4a3d;
  --light: #ebe5d8;
  --light-brown: #d2b791;
  --light-green: #cdcc98;
  --light-orange: #f1bb74;
  --lighter: #f3f0eb;
  --new-green: #c2c070;
  --orange: #de8f54;
}

@font-face {
  font-family: "Creato";
  src: url("assets/fonts/CreatoDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Creato";
  src: url("assets/fonts/CreatoDisplay-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Creato";
  src: url("assets/fonts/CreatoDisplay-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Creato";
  src: url("assets/fonts/CreatoDisplay-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Creato";
  src: url("assets/fonts/CreatoDisplay-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Creato";
  src: url("assets/fonts/CreatoDisplay-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Creato";
  src: url("assets/fonts/CreatoDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Creato";
  src: url("assets/fonts/CreatoDisplay-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Creato";
  src: url("assets/fonts/CreatoDisplay-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Creato";
  src: url("assets/fonts/CreatoDisplay-ExtraBoldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Binoma";
  src: url("assets/fonts/BinomaTrial-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--light);
}
/* canvas {
  display: block;
} */

#svgContainer svg {
  width: 80vw;
  height: 80vw;
  overflow: visible;
  display: block;
}

#svgContainer path {
  stroke: var(--light-orange);
  stroke-width: 10px;
}
